# vim swap files
.*.swp

# don't commit things with credentials
.env
mqtt/config/pwfile
harmony-api/config/config.json
duply/root

# don't commit anything tracked in other repos
homeassistant/config

# don't save anything from data volume
data
