# vim swap files
.*.swp

# don't commit things with credentials or other sensitive stuff
.env
.env.*
certbot/dnsimple.ini
duply/root
harmony-api/config/config.json
mqtt/config/pwfile
nginx/dhparam.pem

# tracked in other repos
homeassistant/config
